 <section class="section">
        <div class="review">
          <picture class="review__img">
            <source
              srcset="./images/reviews.webp 1x, ./images/reviews@2x.webp 2x"
              type="image/webp"
            />

            <source
              srcset="./images/reviews.jpg 1x, ./images/reviews@2x.jpg 2x"
            />

            <img
              src="./images/reviews.jpg"
              alt="smiling woman holding her cheeks with her hands"
            />
          </picture>
        </div>
        <div class="container review">
          <div class="review--gradient">
            
             <p class="review__text"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.</p>
            
          </div></div>
        <div>
            <ul class="review__dot">
         <li class="review__dot__item"></li>
         <li class="review__dot__item"></li>
         <li class="review__dot__item"></li>
            </ul>
        <div class="review__address">
            Emily, Los Angeles
        </div>
        <div>
          <ul class="review__home">
            <li class="review__home__item"><svg class="review__home__item--svg" width="12"
            height="12">
            <use
            href="./images/sprites.svg#icon-home"
            ></use>
         </svg></li>
         <li class="review__home__item review__home__item--dot"></li>
         <li class="review__home__item review__home__item--dot"></li>
          </ul>
        </div>
      </section>