<div class="footer footer__container">
    <div class="footer__text-wrapper">
        <h1 class="footer__text footer__text--small">homemade ice cream made</h1>
        <h2 class="footer__text footer__text--big">with passion</h2>
    </div>
    <div class="footer__social-wrapper">
        <ul class="footer__social-list">
            <li class="footer__social-item">
                <button class="footer__social-button" href="https://github.com/">
                    <svg class="footer__social-icon" width="19" height="19">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </button>
            </li>
            <li class="footer__social-item">
                <button class="footer__social-button" href="https://telegram.org/">
                    <svg class="footer__social-icon footer__social-icon--telegram" width="19" height="19">
                        <use href="./images/sprite.svg#icon-telegram"></use>
                    </svg>
                </button>
            </li>
            <li class="footer__social-item">
                <button class="footer__social-button" href="https://www.facebook.com/">
                    <svg class="footer__social-icon" width="19" height="19">
                        <use href="./images/sprite.svg#icon-facebook"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
    <div class="footer__phone-wrapper">
        <p class="footer__phone">Feel free to contact 
            <a class="footer__phone footer__phone--number" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
    </div>
    <div class="footer__bottom-text-wrapper">
        <p class="footer__bottom-text">
            © 2019 - IceCream.
            All Rights Reserved. 
        </p>
    </div>        
</div>
