<section>
    <div>
        <p>100% natural</p>
        <h2 class="products__header">products</h2>
        <ul>
            <li>
                <div>
                    <h3>ice cream</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, ad.</p>
                    <div>
                        <svg>

                        </svg>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3>ice coffee</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, ad.</p>
                    <div>
                        <svg>

                        </svg>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <h3>milkshakes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, ad.</p>
                    <div>
                        <svg>

                        </svg>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
</section>